In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ganesh shaud\anaconda3\lib\site-packages (8.4.0)

In [5]:
# connecting database 
import mysql.connector
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "grade_10"
)
mycursor = database.cursor()

In [16]:
mycursor.execute("SELECT *FROM STUDENT")
result = mycursor.fetchall()
for x in result:
    print(x)

(1, '18', '50', '89', '87', '57', 76.0, 400, 'A')
(2, '65', '67', '78', '56', '47', 86.0, 300, 'B')
(24, '87', '95', '68', '86', '79', 58.0, 500, 'B+')
(26, '99', '98', '78', '97', '68', 60.0, 0, 'A+')

In [13]:
sql = '''INSERT INTO `student` (`sn`, `physics`, `chemistry`, `nepali`, `math`, `english`, `per`, `total`, `grade`) 
VALUES ('26', '99', '98', '78', '97', '68', '60', '', 'A+');'''
mycursor.execute(sql)
database.commit()
print(mycursor.rowcount,"record inserted.")

1 record inserted.

In [ ]:
#update sql

In [8]:
sql = "UPDATE student SET physics = '18' WHERE sn = 21"
mycursor.execute(sql)
database.commit()
print(mycursor.rowcount, "record updated.")

1 record updated.

In [11]:
#delete in sql 
sql = "DELETE FROM student WHERE sn = 26"
mycursor.execute(sql)
database.commit()
print(mycursor.rowcount, "record(s) delete")

1 record(s) delete

In [21]:
#select
mycursor.execute("SELECT *FROM STUDENT where grade ='A'")
result = mycursor.fetchall()
for x in result:
    print(x)

(1, '18', '50', '89', '87', '57', 76.0, 400, 'A')

In [30]:
#search
mycursor.execute("SELECT *FROM STUDENT where physics like '%5%'") #%5% sabai aucha,, %5 pachadi 5 vayeko sabai aucha,, 5% agadi 5 vayeko sabai aucha
result = mycursor.fetchall()
for x in result:
    print(x)

(2, '65', '67', '78', '56', '47', 86.0, 300, 'B')

In [31]:
#search
mycursor.execute("SELECT *FROM STUDENT where physics like '9%'") #%9% sabai aucha,, 95 pachadi 5 vayeko sabai aucha,, 9% agadi 9 vayeko sabai aucha
result = mycursor.fetchall()
for x in result:
    print(x)

(26, '99', '98', '78', '97', '68', 60.0, 0, 'A+')

In [ ]:
select