In [10]:
#CREATING DATABASE
import mysql.connector
database = mysql.connector
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = ""
)
mycursor = database.cursor()
mycursor.execute("CREATE DATABASE Database1")

In [15]:
#CONNECTING DATABSE
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
      database = "collage_nast"
)
db = database.cursor()

In [16]:
db.execute("select * from student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'tej', 70, 89, 90, 68, 76, 69, 77, 'A')
(2, 'ravi', 66, 66, 65, 67, 68, 77, 59, 'A')
(3, 'tirtha', 70, 89, 65, 68, 76, 69, 76, 'B')
(4, 'sikha', 62, 63, 64, 65, 68, 69, 70, 'B')
(5, 'sita', 59, 58, 56, 54, 67, 89, 60, 'B+')
(6, 'ramita', 47, 56, 70, 80, 67, 59, 58, 'C')
(7, 'karishma', 69, 69, 66, 65, 56, 54, 53, 'C+')

In [25]:
sql = '''INSERT INTO `student` (`sn no`, `std_name`, `chemistry`, `nepali`, `math`, `english`, `physics`, `total`, `per`, `grade`)
VALUES (9, 'sanu', '70', '56', '56', '68', '67', '145', '86', 'A');'''
db.execute(sql)
database.commit()
print(db.rowcount,"record inserted.")

1 record inserted.